<figure
  class="conversion-flow-graphic conversion-flow-graphic-three-step"
  aria-labelledby="conversion-flow-title"
>
  <svg
    viewBox="0 -7 604 106"
    role="img"
    aria-describedby="conversion-flow-description"
  >
    <title id="conversion-flow-title">Automated PDF conversion flow steps</title>
    <desc id="conversion-flow-description">
      Image files are dropped into the flow, received by the workflow, sent
      through a conversion service, delivered back as PDFs, and placed in the
      processed folder.
    </desc>

    <g class="flow-node flow-node-drop" transform="translate(0 -10)">
      <g class="flow-image-stack">
        <path
          class="flow-image-fill"
          d="M 28.09 20.95 C 30.12 20.95 31.77 22.61 31.77 24.64 C 31.77 26.67 30.12 28.32 28.09 28.32 C 26.06 28.32 24.41 26.67 24.41 24.64 C 24.41 22.61 26.06 20.95 28.09 20.95 Z M 28.09 30.77 C 31.47 30.77 34.23 28.02 34.23 24.64 C 34.23 21.25 31.47 18.5 28.09 18.5 C 24.71 18.5 21.95 21.25 21.95 24.64 C 21.95 28.02 24.71 30.77 28.09 30.77 Z M 8.45 56.55 L 8.45 44.78 L 18.27 34.96 L 37.04 53.73 L 38.78 52 L 29.21 42.43 L 42.82 28.83 L 57.55 43.55 L 57.55 56.55 Z M 57.55 7.45 L 57.55 40.08 L 43.69 26.22 C 43.21 25.74 42.43 25.74 41.95 26.22 L 27.48 40.7 L 19.14 32.36 C 18.66 31.88 17.88 31.88 17.41 32.36 L 8.45 41.31 L 8.45 7.45 Z M 58.77 5 L 7.23 5 C 6.55 5 6 5.55 6 6.23 L 6 57.77 C 6 58.45 6.55 59 7.23 59 L 58.77 59 C 59.45 59 60 58.45 60 57.77 L 60 6.23 C 60 5.55 59.45 5 58.77 5 Z"
        />
        <rect
          class="flow-image-backing"
          x="15"
          y="15"
          width="50"
          height="50"
        />
        <path
          class="flow-image-fill"
          d="M 35.09 28.95 C 37.12 28.95 38.77 30.61 38.77 32.64 C 38.77 34.67 37.12 36.32 35.09 36.32 C 33.06 36.32 31.41 34.67 31.41 32.64 C 31.41 30.61 33.06 28.95 35.09 28.95 Z M 35.09 38.77 C 38.47 38.77 41.23 36.02 41.23 32.64 C 41.23 29.25 38.47 26.5 35.09 26.5 C 31.71 26.5 28.95 29.25 28.95 32.64 C 28.95 36.02 31.71 38.77 35.09 38.77 Z M 15.45 64.55 L 15.45 52.78 L 25.27 42.96 L 44.04 61.73 L 45.78 60 L 36.21 50.43 L 49.82 36.83 L 64.55 51.55 L 64.55 64.55 Z M 64.55 15.45 L 64.55 48.08 L 50.69 34.22 C 50.21 33.74 49.43 33.74 48.95 34.22 L 34.48 48.7 L 26.14 40.36 C 25.66 39.88 24.88 39.88 24.41 40.36 L 15.45 49.31 L 15.45 15.45 Z M 65.77 13 L 14.23 13 C 13.55 13 13 13.55 13 14.23 L 13 65.77 C 13 66.45 13.55 67 14.23 67 L 65.77 67 C 66.45 67 67 66.45 67 65.77 L 67 14.23 C 67 13.55 66.45 13 65.77 13 Z"
        />
      </g>
      <text class="flow-node-label flow-node-caption" x="37" y="84">
        Drop Images
      </text>
    </g>

    <g class="flow-node flow-node-step" transform="translate(21 -10)">
      <path
        class="flow-step-shape"
        d="M 86 11 L 186 11 L 206 36 L 186 61 L 86 61 L 106 36 Z"
      />
      <text class="flow-node-label flow-node-caption" x="146" y="31">
        Receives
      </text>
      <text class="flow-node-label flow-node-caption" x="146" y="50">
        Images
      </text>
    </g>

    <g class="flow-node flow-node-service" transform="translate(41 0)">
      <path
        class="flow-icon-line flow-service-cloud"
        d="M 289.73 51 C 295.73 50.15 300.01 43.69 299.29 36.57 C 298.57 29.45 293.12 24.38 287.13 25.23 C 287.06 14.6 280.78 5.46 272.02 3.23 C 263.26 1 254.38 6.29 250.64 15.96 C 247.88 12.2 243.49 10.79 239.5 12.36 C 235.52 13.94 232.72 18.2 232.4 23.17 C 225.93 22.89 220.48 28.89 220.24 36.57 C 220 44.25 225.06 50.72 231.54 51 Z"
      />
      <path
        class="flow-icon-soft flow-service-gear flow-service-gear-small"
        d="M 247.04 26 L 248.96 26 L 248.96 27.58 C 250.03 27.74 251.05 28.17 251.92 28.83 L 252.96 27.75 L 254.32 29.15 L 253.26 30.23 C 253.91 31.15 254.33 32.21 254.48 33.33 L 256 33.33 L 256 35.33 L 254.48 35.33 C 254.32 36.44 253.91 37.5 253.26 38.4 L 254.32 39.5 L 252.96 40.92 L 251.92 39.83 C 251.05 40.5 250.03 40.93 248.96 41.08 L 248.96 42.67 L 247.04 42.67 L 247.04 41.08 C 245.97 40.93 244.95 40.5 244.08 39.83 L 243.04 40.92 L 241.68 39.53 L 242.72 38.4 C 242.08 37.5 241.67 36.44 241.52 35.33 L 240 35.33 L 240 33.33 L 241.52 33.33 C 241.67 32.21 242.08 31.15 242.72 30.23 L 241.68 29.15 L 243.04 27.75 L 244.08 28.83 C 244.95 28.17 245.97 27.74 247.04 27.58 Z M 248 31.83 C 247.14 31.83 246.35 32.31 245.92 33.08 C 245.49 33.86 245.49 34.81 245.92 35.58 C 246.35 36.36 247.14 36.83 248 36.83 C 248.86 36.83 249.65 36.36 250.08 35.58 C 250.51 34.81 250.51 33.86 250.08 33.08 C 249.65 32.31 248.86 31.83 248 31.83 Z"
      />
      <path
        class="flow-icon-soft flow-service-gear flow-service-gear-large"
        d="M 266.56 9.33 L 269.44 9.33 L 269.44 11.71 C 271.05 11.94 272.57 12.59 273.88 13.58 L 275.44 11.96 L 277.48 14.06 L 275.9 15.68 C 276.86 17.05 277.49 18.65 277.72 20.33 L 280 20.33 L 280 23.33 L 277.72 23.33 C 277.48 25 276.86 26.58 275.9 27.93 L 277.48 29.58 L 275.44 31.71 L 273.88 30.08 C 272.57 31.08 271.05 31.72 269.44 31.96 L 269.44 34.33 L 266.56 34.33 L 266.56 31.96 C 264.95 31.72 263.43 31.08 262.12 30.08 L 260.56 31.71 L 258.52 29.63 L 260.08 27.93 C 259.13 26.58 258.51 25 258.28 23.33 L 256 23.33 L 256 20.33 L 258.28 20.33 C 258.5 18.65 259.12 17.05 260.08 15.68 L 258.52 14.06 L 260.56 11.96 L 262.12 13.58 C 263.43 12.59 264.95 11.94 266.56 11.71 Z M 268 18.08 C 266.01 18.08 264.4 19.76 264.4 21.83 C 264.4 23.9 266.01 25.58 268 25.58 C 269.99 25.58 271.6 23.9 271.6 21.83 C 271.6 19.76 269.99 18.08 268 18.08 Z"
      />
      <text class="flow-node-label flow-node-caption" x="260" y="72">
        Conversion
      </text>
      <text class="flow-node-label flow-node-caption" x="260" y="90">
        Service
      </text>
    </g>

    <g class="flow-node flow-node-step" transform="translate(64 -10)">
      <path
        class="flow-step-shape"
        d="M 310 11 L 410 11 L 430 36 L 410 61 L 310 61 L 330 36 Z"
      />
      <text class="flow-node-label flow-node-caption" x="370" y="31">
        Delivers
      </text>
      <text class="flow-node-label flow-node-caption" x="370" y="50">
        PDFs
      </text>
    </g>

    <g class="flow-node flow-node-folder" transform="translate(78 -10)">
      <path
        class="flow-folder-shape"
        d="M 454.18 11 C 453.32 11 452.88 11.34 452.62 11.76 L 450 15.95 L 450 59.81 C 450 61.21 450.87 62.6 452.86 62.6 L 510 62.6 C 511.13 62.6 511.4 62.2 511.57 61.36 L 517.65 29.78 C 517.89 28.7 517.32 27.85 516.03 27.85 L 511.41 27.85 L 511.41 17.59 C 511.41 16.24 510.83 15.18 509.21 15.18 L 477.01 15.18 L 474.87 11.89 C 474.49 11.33 474.05 11 473.23 11 Z M 454.23 13.08 L 473.2 13.08 L 475.88 17.26 L 509.34 17.26 L 509.34 27.85 L 489.19 27.85 C 488.27 27.85 487.71 28.21 487.32 28.86 L 485.3 32.36 L 458.17 32.36 C 457.02 32.36 456.5 32.84 456.27 33.94 L 452.07 56.73 L 452.07 16.54 Z M 489.09 29.93 L 509.34 29.93 L 510.38 29.93 L 515.54 29.93 L 509.64 60.52 L 453.47 60.52 L 458.28 34.43 L 486.49 34.43 Z"
      />
      <text class="flow-pdf-label" x="485" y="53">PDFs</text>
    </g>
  </svg>
</figure>
